body { margin: 0; height: 100%; text-align: center;}
iframe { overflow: hidden;}

nav {
    margin-top:5%;
    margin-bottom: 3%;
}

nav a{
    border: solid black 1px;
    padding: 1em;
    margin-left:2%;
}

a {
    text-decoration: none;
}

a:hover {
    color:white;
    background-color: black;
}
